.timer {
    display: flex;
    margin-left: 15px;
}
.timer .field{
    margin-top: 10px;
margin-right: 20px ;
padding: 10px 10px;
border: 1px solid;
border-radius:25px;
background-color: honeydew;
}
span {
    font-family: Inter,
        sans-serif;
    font-size: 30px;

}
.timer-input {
    margin-left: 15px;
    width: 250px;
    height: 45px;
    border-radius: 10px;
font-family: Inter,
    sans-serif;
    font-size: 18px;
}
.timer-button {
    background-color: honeydew;
        border: 1px solid;
        border-radius: 16px;
        margin-bottom: 16px;
        margin-left: 15px;
        font-size: 18px;
        font-family: Inter, sans-serif;
        padding: 8px 8px;
        font-size: 20px;
        cursor: pointer;
        width: 15%;
    }
